@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #111111;
    --card: #f3f4f6;
    --card-foreground: #111111;
    --popover: #ffffff;
    --popover-foreground: #111111;
    --primary: #000000;
    --primary-foreground: #ffffff;
    --secondary: #4b5563;
    --secondary-foreground: #ffffff;
    --muted: #f3f4f6;
    --muted-foreground: #4b5563;
    --accent: #f3f4f6;
    --accent-foreground: #111111;
    --destructive: #ef4444;
    --destructive-foreground: #ffffff;
    --border: #e5e7eb;
    --input: #e5e7eb;
    --ring: #000000;
    --radius: 0.5rem;
  }
  .dark {
    --background: #ffffff;
    --foreground: #111111;
    --card: #f3f4f6;
    --card-foreground: #111111;
    --popover: #ffffff;
    --popover-foreground: #111111;
    --primary: #000000;
    --primary-foreground: #ffffff;
    --secondary: #4b5563;
    --secondary-foreground: #ffffff;
    --muted: #f3f4f6;
    --muted-foreground: #4b5563;
    --accent: #f3f4f6;
    --accent-foreground: #111111;
    --destructive: #ef4444;
    --destructive-foreground: #ffffff;
    --border: #e5e7eb;
    --input: #e5e7eb;
    --ring: #000000;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  html {
    scroll-behavior: smooth;
  }
  body {
    @apply bg-background text-foreground;
  }
}